# Google Sheets DB Configuration
ROOT_FOLDER_ID=
SPREADSHEET_ID=

# Google Cloud OAuth Credentials
GOOGLE_CLIENT_ID=
VITE_GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_API_KEY=

# Google Service Account JSON (Minified string)
GOOGLE_SERVICE_ACCOUNT_JSON=
